@using System.Security.Claims
@model IEnumerable<web.Models.User>

@{
    ViewData["Title"] = "Index";
    bool isAdmin = (bool)ViewData["IsAdmin"];
}

<<<<<<< HEAD
<h1>Index</h1>
@if (isAdmin){
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
=======
<h1>Users</h1>

<style>
    .button {
        text-decoration: none;
        color: black;
        border-radius: 4px;
    }
    #users {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    #users td, #users th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    
    #users tr:nth-child(even){background-color: #f2f2f2;}
    
    #users tr:hover {background-color: #ddd;}
    
    #users th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #87CEEB;
      color: white;
    }
</style>

<table class="table" id="users">
>>>>>>> 30189410f2f30b9a082a810ae0d7da59091e4d08
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<<<<<<< HEAD
}
else
{
    <script>
        window.location.href = '@Url.Action("Details", "User", new { id = User.FindFirstValue("sub") })';
    </script>
}
=======
<button type="button" class="button"><a class="button" href="/User/Create">Create New</a></button>
>>>>>>> 30189410f2f30b9a082a810ae0d7da59091e4d08
